			<h2>Hello Everybody !!!</h2>
			<p>
				I am a developer from Uzbekistan. My Name is Orifjon. But my current job is less related to programming now.
				Recently, I decided to change my job to programming related field and applied to several job positions.
				But, none of them asked programming specific questions (except one). They all just visited web pages which I
				took part in development (developed/configured/installed...).
			</p>
			<p>
				So I built this page to describe my works. I will host my future (maybe past too) project here.
				You can view it's code at <a href="http://www.github.com/orifjon/orifjon.co.cc">my github page</a>.
			</p>
			
			<h3>Some of this site's features:</h3>
			<ul>
			<li>Fully themable</li>
			<li>Uses Markdown syntax for static pages</li>
			<li>Uses widgets (with Kohana's HMVC feature)</li>
			</ul>
			<p>
				Blog and other features will be added as they will get ready.
			</p>