		<div id="footer">
		<span class="f-left">&copy; 2011 <a href="/">Orifjon Meliboyev</a></span> <span class="f-right">Design: <a href="http://www.davidkohout.cz">David Kohout</a></span>
		</div>
	</div>
</body>
</html>
