<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="{{base}}" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{title}}</title>

<link href="admin/css/login-box.css" rel="stylesheet" type="text/css" />
</head>

<body>


<div style="padding: 100px 0 0 250px;">


<div id="login-box">

<H2>Login</H2>
Please, login to get inside
<br />
<br />

{{>content}}

</div>

</div>













</body>
</html>
