<form method="post" id="edituserform">
	<p>
		{{username}}
	</p>
	<p>
		<label for="email">E-mail</label><br />
		<input id="email" name="email" type="text" tabindex="1" />
	</p>
	<p>
		<label for="password">Password</label><br />
		<input id="password" name="password" type="password" tabindex="2" />
	</p>
	<p>
		<label for="password_confirm">Password Confirm</label><br />
		<input id="password_confirm" name="password_confirm" type="password" tabindex="3" />
	</p>
	<p class="no-border">
		<input class="button" type="submit" value="Submit" tabindex="4" />
	</p>
</form>
