<h1>{{title}}</h1>

<table summary="Users" title="Users">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#users}}
		<tr>
			<td><input type="radio" /></td>
			<td>{{username}}</td>
			<td> {{#roles}}{{name}}{{/roles}} Actions here... </td>
		</tr>
		{{/users}}
	</tbody>
</table>
