	<div class="error">{{error}}</div>
			<form method="post" id="loginform">		
				<p>
					<label for="name">Name</label><br />
					<input id="name" name="name" type="text" tabindex="1" />
				</p>

				<p>
					<label for="password">Password</label><br />
					<input id="password" name="password" type="password" tabindex="2" />
				</p>

				<p>
					<input id="remember" name="remember" type="checkbox" tabindex="3" /><label for="remember">Remember me</label>
					<a href="admin/auth/forgot">Forgot password?</a>
				</p>

				<p>
					<input class="button" type="submit" value="Login" tabindex="4" />
				</p>

			</form>