	<!-- footer starts -->	
	<div id="footer-outer" class="clear"><div id="footer-wrap">				
		
		<div class="content">	
			
			<!-- columns starts -->
			<div class="columns">
			
				<div class="col">						
					<h3>Image Gallery </h3>					
					<p class="thumbs">
						<a href="index.html"><img src="img/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
						<a href="index.html"><img src="img/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
						<a href="index.html"><img src="img/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
						<a href="index.html"><img src="img/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					</p>	
					<h3>Men haqimda</h3>			
					<p>
						<a href="index.html"><img src="img/gravatar.jpg" width="40" height="40" alt="firefox" class="float-left" /></a>
						Hullas, men web dasturlashni mashq qilish asnosida o'zim uchun biror sahifa ochib, shu yerda tajribalarimni sinab ko'rmoqchiman.
						Bu yerda yana menga doir ba'zi malumotlar ham bo'lishi rejalashtirilgan (hozircha).
					</p>
					<p class="copyright">
						&copy;2011 Barcha huquqlar menga tegishli ;) &nbsp;
					</p>
					
				</div>	
				
				<div class="col">
<!-- No search for now ...
					<h3>Search</h3>
					
					<form id="quick-search" action="index.html" method="get" >
						<p>
						<label for="qsearch">Search:</label>
						<input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
						<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="img/search.gif" />
						</p>
					</form>	
-->
					<h3>WWW dan bir shingil</h3>		
						
					<p>
						Web'ni "aylanib" yurganimda uchrab qolgan foydali yoki shunchaki qiziqarli tuyulgan manzillarga linklar.
					</p>
					
					<div class="footer-list">
						<ul>
							<li><a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate -
                                <span>Over 6,000+ Premium Web Templates</span></a></li>
							<li><a href="http://www.themelayouts.com" title="WordPress Themes">ThemeLayouts -
                                <span>Premium WordPress &amp; Joomla Themes</span></a></li>
							<li><a href="http://www.imhosted.com" title="Website Hosting">ImHosted.com -
                                <span>Affordable Web Hosting Provider</span></a></li>
							<li><a href="http://www.dreamstock.com" title="Stock Photos">DreamStock -
                                <span>Download Amazing Stock Photos</span></a></li>
							<li><a href="http://www.evrsoft.com" title="Website Builder">Evrsoft -
                                <span>Website Builder Software &amp; Tools</span></a></li>
							<li><a href="http://www.webhostingwp.com" title="Web Hosting">Web Hosting -
                                <span>Top 10 Hosting Reviews</span></a></li>
						</ul>
					</div>
					
				</div>	
			
			<!-- columns ends -->	
			</div>
				
		</div>

	<!-- footer ends -->
	</div></div>
	
	<div id="footer-bottom">	
		<p>
			<a href="index.html">Home</a> |
			<a href="index.html">Sitemap</a> |
			<a href="index.html">RSS Feed</a> |								
			<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
	   	    <a href="http://validator.w3.org/check/referer">XHTML</a> |
			<a href="#top">Top</a>							
			&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
			<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
		</p>
	</div>			

<!-- wrap ends -->
</div>
</body>
</html>
