<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>{{title}}</title>
<base href="{{base}}" />
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="title" content="{{title}}" />
<meta name="author" content="Erwin Aligam - styleshout.com" />
<meta name="description" content="Site Description Here" />
<meta name="keywords" content="keywords, here" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />

<link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/GrungeEra.css" />

</head>
<body>
<div id="wrap">

	<a name="top"></a>

	<!-- header -->
	<div id="header">					
		
		<h1 id="logo-text"><a href="index.html" title="">{{logo_text}}</a></h1>		
		<p id="intro">{{slogan}}</p>				
		
		<!-- navigation -->
		<div  id="nav">
			<ul>
				{{#main_menu}}
				<li {{current}} ><a href="{{link}}">{{text}}</a></li>
				{{/main_menu}}
			</ul>		
		</div>				
	
	</div>	
	<!-- header ends -->
